<div class="notice--info">
  <p><strong>Rubyの実行環境（Windows 64bit版、DXRubyインストール済み）をzipで提供します。</strong></p>
  <p>下記ボタンをクリックするとダウンロードが始まります。<br/>
ダウンロードした<strong>ruby_lecture.zip</strong>を、Cドライブ直下に展開してください。<br/>
エクスプローラーで<code>C:¥ruby_lecture¥code.bat</code>をダブルクリックすると、Visual Studio Codeが起動します。
  </p>
  <ul>
    <li>Ruby: RubyInstaller for Windows Ruby+Devkit 2.7.2-1 (x64) （DXRuby 1.4.7、DirectX DLL含む）</li>
    <li>IDE: Visual Studio Code 1.52.1 （.zip 64bit版）</li>
    <li>作業フォルダ: <strong>C:¥ruby_lecture¥code</strong></li>
  </ul>
</div>

[<i class="fas fa-download"></i> Ruby実行環境のダウンロード](https://download.eastback.co.jp/ruby/ruby_lecture.zip){: .btn .btn--success}
